@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
/* font-family: 'Raleway', sans-serif; */
*{outline: none;}
body{width: 100vw;}
html, body{
    overflow-x: hidden;
background-color: black;
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Raleway', sans-serif;
color: aliceblue;
}
::-webkit-scrollbar {
    width: 4px;
    height: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0); 
    background: #5944a06e; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5A44A0; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5825ff; 
  }
.wel{
    margin-top: -25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup{
    z-index: 100;
    background-color: #211f1fe3;
    backdrop-filter: blur(5px);
    width: 60vw;
    height: 64.5vh;
    padding: 30px 40px;
    position: fixed;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 30px;
    display: none;
    text-align: center;
}
.popup button{
    transition: 0.5s ease-in-out;
    display: block;
    margin:  -50px -50px 30px auto;
    background-color: transparent;
    font-size: 40px;
    background-color: #5ed1ff;
    padding: 0px 10px;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
}
.popup button:hover{
    background-color: white;
    color: #5ed1ff;
    border-radius: 12px;
}
.popup .wel {
    position: relative;
    overflow: hidden;
    padding-top: 50%;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}
.popup a{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
}
main{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
main .left{
    padding: 9vh 0 0 10vw;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
main .left h1,h2{margin: 0; padding: 0;}
main .left h2{font-size: 35px; 
    letter-spacing: 1px;    
    color: #8F6CFF;
    font-weight: 400;}
main .right{width: 60%;}
main .left a img{width: 150px; margin-bottom: 20px;margin-top: -80px;}
main p{line-height: 120% ;opacity: 0.9; font-size: 18px;letter-spacing: 1.1px; text-transform: none !important;}
main p strong{font-weight: 500;font-style: italic;}
.cta{
    margin: 3vh 0;
}
.cta a:nth-of-type(1){
    font-size: 18px;
    color: white;
    background: rgb(39, 2, 163);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    letter-spacing:1px;
    animation: bgTrans 4s ease-in-out infinite;
    transition: 0.25s ease-in-out;
}
.cta a:nth-of-type(1):hover{
    box-shadow: 0 0  35px 0px rgba(255, 255, 255, 0.529);
    font-weight: 600;
    background-color: white;
    color: #3F08FC;
    animation: none;
}
@keyframes bgTrans {
    0%{
        background: #4107fd;
        /* background: linear-gradient(90deg, rgba(65,7,253,1) 0%, rgba(4,164,207,1) 100%); */
    }
    50%{
        /* background: linear-gradient(270deg, rgba(65,7,253,1) 0%, rgba(4,164,207,1) 100%); */
        background: #04a4cf;
    }
    100%{background: #4107fd;}
}
.cta a:nth-of-type(2){
    margin-left: 10px;
    opacity: 0.7;
    font-size: 18px;
    color: white;
    text-decoration: none;
    letter-spacing:1px;
    transition: 0.1s ease-in-out;
}
.cta a:nth-of-type(2):hover{
    opacity: 1;
}
.logoText{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
    font-size: 75px;
    letter-spacing: 1.5px;
}
.logoText span{
    background: rgb(65,7,253);
    background: linear-gradient(90deg, rgb(77, 22, 255) 0%, rgb(6, 182, 230) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}
main .right img{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 80vh;
}
/* ------ Text-Scroll Control ----- */
.textScroll{
    margin: 50px 0;
}
.container {
    position: relative;
    width: 100vw;
    overflow: hidden;
    height: 120px !important;
  }
  .scrolling-text {
    display: inline-block;
    transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
    will-change: transform;
    backface-visibility: hidden;
  }
  .scrolling-text .scrolling-text-content {
      text-transform: uppercase;
    font-size: 95px;
    letter-spacing: 5px;
    white-space: nowrap;
    transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
    line-height: 1em;
    margin: 00px 0;
  }
  .purpMarq{
      font-weight: 900 ;
      color: rgba(0, 0, 0, 0);
      -webkit-text-stroke: 3px #8F6CFF;
  }
  .blueMarq{
    font-weight: 900;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 3px #089BD4;
}

/* Offers */
.offers h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 32px;
    margin-bottom: 5vh;
}
.offers .row{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.offer{
    width: 20%;
    margin: 20px;
    padding: 20px 18px;
    border: 3px solid white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s ease-in;
}
.offer:hover{
    transition: 0.3s ease-in;
    background: rgb(24,6,103);
    background: linear-gradient(-60deg, rgba(24,6,103,1) 0%, rgba(1,77,105,1) 100%);
    border: 3px solid black;
    transform: scale(1.08);
}
.cursor{cursor: pointer !important;}

.offer img{width: 80px;}
.offer h4{font-size: 16px; margin-bottom: -5px;}
.offer p{font-size: 13px; opacity: 0.8;line-height: 140%;}

/* -----METAVERSE/VR Part -------------- */
.meta{
    box-sizing: border-box;
    margin-left: 3%;
    margin-top: 8vh;
    position: relative;
    overflow: hidden !important;
    height: 94vh;
    width: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
#VR {
    transition: 0.4s ease-in-out;
    opacity: 0.6;
    z-index: 0;
    position: absolute;
    width:100%; 
}
#VR:hover{opacity: 1;}

  .vrContent{width: 100vw;}
  .vrContent h1{
    -webkit-text-stroke: 2px #ffffff;
      position: absolute;
      top: 30px;
      left: -5px;
      color: #0000000d;margin: 0; 
      margin-bottom: -10px; 
      margin-top: -10px; 
      font-size: 55px;
      margin-left: 2.5%; 
      text-transform: capitalize;
      font-weight: 800;
      line-height: 110%;
      /* background-color: rgba(0, 0, 0, 0.8); */
      padding: 15px 20px;
      border-radius: 20px;
      letter-spacing: 3px;
      font-family: 'Poppins', sans-serif;

    }
  .vrContent p{
      font-family: 'Poppins', sans-serif;
      font-size: 35px;
      font-weight: 500;
      margin-left: 2.5%; 
       margin-bottom: -7px;
       position: absolute;
       width: 30vw;
       right: 30px;
       bottom: 40px;
       text-align: right;
       color: #1fc0ff;
    }
  /* ---Mid CTA-- */
  .midCta{
    display: flex;
    justify-content: center;
    margin: 10vh auto;
}
.midCta a{
    width: 88vw;
    font-size: 18px;
    color: white;
    background: rgb(39, 2, 163);
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 30px;
    letter-spacing:1px;
    animation: bgTrans 4s ease-in-out infinite;
    transition: 0.25s ease-in-out;
    text-align: center;
}
.midCta a:hover{
    box-shadow: 0 0  35px 0px rgba(255, 255, 255, 0.529);
    font-weight: 600;
    background-color: white;
    color: #3F08FC;
    animation: none;
}

/* Feel  */
.feel{
    width: 100vw;
    margin: 40vh auto 40vh auto;
    display: flex;
    justify-content: center;
}
.feel img{
    width: 96vw;
}
/* Parallax */
.parallax {
    height: 100vh; 
    background-attachment: fixed !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20vh;
  }

  /* ----- FairPlay ----  */
  .fairPlay{
    height: 30vh;
    margin: 0 0 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .fairPlay img{
    position: absolute;
    width: 400px;
  }
  .fp{
    animation: fair 3s ease-in-out infinite;
  }
  .eyw{
    animation: eyw 3s ease-in-out infinite;
  }
  @keyframes eyw {
    0%{opacity: 0;}
    30%{opacity: 0;}
    50%{opacity: 1;}
    90%{opacity: 0;}
    100%{opacity: 0;}
  }
  @keyframes fair {
    0%{opacity: 1;}
    40%{opacity: 1;}
    50%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 1;}
  }

  /* -------  Feature Slider  ------ */
  #viz{width: 125px;}
  #net{width: 200px;}
  #eq{width: 100px;}
  .fixer{height: 100px;}
  .moreFeature { 
      margin:0;
      margin-bottom: 30vh;
      box-sizing: border-box;
      height: 90vh !important;
      padding: 72px 0 
    }
  [type=radio] {
    display: none;
  }
  
  #featureSlider {
    height: 65vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  #featureSlider label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1a0098;
    margin: auto;
    border-radius: 30px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
    padding: 0 30px;
    padding-top: 50px;
    box-sizing: border-box;
  }
  
  #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3 {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.272);
    transform: translate3d(-30%,0,-300px);
  }
  
  #s1:checked ~ #slide5, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4 {
      
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-55%, 20px,-100px);
  }
  
  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3, #s4:checked ~ #slide4,
  #s5:checked ~ #slide5 {
    background-color: #2301ce;
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(55%, 20px,-100px);
  }
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-200px);
  }

  
  .moreFeatureTitle {
    color: #00c3ff;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px !important;
    font-size: 50px !important;
  }
  .card-slider {
    background: #fff;
    width: 440px;
    height: 460px;
  }  
  .moreFeature h1{
      font-weight: 500;
      font-size: 27px;
      letter-spacing: 2px;
      margin-bottom: 0;
  }
  .moreFeature p{
      text-align: center;
    font-size: 20px;
    line-height: 130%;
  }
/* FAQ */
.heading-primary {
    margin-top: 0vh;
    font-size:2em;
    text-align:center;
}   
dd {
    display: block;
    margin-inline-start: 0px !important;
}
.accordion dd, .accordion__panel {
    background-color: #16084e;
    font-size: 1em;
    line-height: 1.25em;
}
.accordion p {
    padding: 1em 1em 1em 2em;
}
.accordion a {
    font-weight: 700;
    color: white !important;
}
.accordion {
    position: relative;
    background-color: #16084e;
    border-radius: 20px;

}
.faqContainer {
    max-width: 960px;
    margin: 0 auto;
    padding: 2em 0 2em 0;
}
.accordionTitle, .accordion__Heading {
    background-color: #3E0EFA;
    text-align: center;
    font-weight: 700;
    padding: 2em;
    display: block;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.5s ease-in-out;
    border-bottom: 1px solid #3E0EFA;
}
.accFirst{
    border-radius: 20px 20px 0px 0px !important;
}
.accLast{
    border-radius: 0px 0px 20px 20px !important;
}
.accordionTitle:before, .accordion__Heading:before {
    content: "+";
    font-size: 1.5em;
    line-height: 0.5em;
    float: left;
    transition: transform 0.3s ease-in-out;
}
.accordionTitle:hover, .accordion__Heading:hover {
    background-color: #3E0EFA;
}
.accordionTitleActive, .accordionTitle.is-expanded {
    background-color: #3E0EFA;
}
.accordionTitleActive:before, .accordionTitle.is-expanded:before {
    transform: rotate(-225deg);
}
.accordionItem {
    height: auto;
    overflow: hidden;
    max-height: 60em;
    transition: max-height 1s;
}
@media screen and (min-width: 48em) {
    .accordionItem {
        max-height: 15em;
        transition: max-height 0.5s;
   }
}
.accordionItem.is-collapsed {
    max-height: 0;
}
.no-js .accordionItem.is-collapsed {
    max-height: auto;
}
.animateIn {
    animation: accordionIn 0.45s normal ease-in-out both 1;
}
.animateOut {
    animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
    0% {
        opacity: 0;
        transform: scale(0.9) rotateX(-60deg);
        transform-origin: 50% 0;
   }
    100% {
        opacity: 1;
        transform: scale(1);
   }
}
@keyframes accordionOut {
    0% {
        opacity: 1;
        transform: scale(1);
   }
    100% {
        opacity: 0;
        transform: scale(0.9) rotateX(-60deg);
   }
}
/* BLOB */
.blob{
    /* pointer-events: none; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43vh;
    width: 40vw;
    overflow: hidden;
}
.blob iframe{
    width: 100vw;
    height: 50vh;
}
/* -- */
.lastCta{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.memberCta{
    font-size: 20px;
    padding: 10px 30px;
    letter-spacing: 1px;
    background-color: #351aba00;
    border: 2.5px solid #18CAFF;
    border-radius: 50px;
    text-decoration: none;
    color: #18CAFF;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.memberCta:hover{
    letter-spacing: 1px;
    background-color: #341ABA;
    border: 3px solid #341ABA;
    color: white;
}
.waitlistCta{
    margin-left: 15px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}
.waitlistCta:hover{
    opacity: 1;
    font-weight: 500;
}
  /* ---------- Footer ------------- */
  footer{
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
      position: relative;
      width: 90%;
      margin: 0 5%;
      margin-left: 3.5%;
      margin-top: 15vh;
      height: 35vh;
      box-shadow: 0 0 30px 5px #3F08FC;
      transition: box-shadow 0.1s ease-in-out;
      padding: 25px;
      display: flex;
      flex-direction: column;
      text-align: center;
      animation: gradBox 5s ease-in-out infinite;
  }
  @keyframes gradBox {
      0%{box-shadow: 0 0 30px 2px #3F08FC;}
      50%{      box-shadow: 0 0 30px 2px #1fc0ff;}  
  }

  footer a{
      text-decoration: none;
      color: unset;
  }
 .ftLogo{
     width: 110px;
     
 }
 footer .row{
     width: 88vw;
     position: absolute;
     bottom: 20px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     margin-left: 1vw;
 }
 .social a{
     transition: 0.3s ease-in-out;
    font-size: 20px;
    padding-right: 10px;
 }
 .social a:hover{color: #7d55ff; font-size: 22px;}
 footer .left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
 }
 footer ul{
     padding: 0;
     display: flex;
     flex-direction: row;
 }
 footer li{
     list-style: none;
     margin: 0 5px;
     padding: 0 5px;
 }
 footer li:nth-child(1){
     padding-left: 0;
     margin-left: 0;
 }
 footer .logoText{
     margin-top: 10px;
     font-size: 40px;
 }
 footer a h2{
     font-size: 19px;
     font-weight: 400;
     margin-top: -30px;
     letter-spacing: 1px;
     color: #8F6CFF;
 }
 address{
    text-align: right;
     font-size: 14.5px;
    font-family: 'Poppins', sans-serif; 
    opacity: 0.7;
}
address span{
    font-size: 12px;
}
footer .right{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .row img{
    width: 90px;
}
.ftstamp{
    margin: 25px auto;
    width: 30vw;
}
.trusted{
    width: 55vw;
    margin: 10vh auto 20vh auto;
}
.trusted h3{
    font-size: 15px;
    font-weight: 400;
}
.trusted .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trusted .row a img{
    height: 8vh;
}

/* about page */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-section {
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: relative;
    left: 0;
}

.about-section img {
    width: 10%;
}

.about-section .sh-box {
    align-self: center;
}

.about-section .sh-box p {
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 140%;
}

.team-title {
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
    text-align: center;
    color: black;
    font-weight: 900;
    -webkit-text-stroke: 2.5px #7d55ff;
    text-transform: uppercase;
}

.team-rhombus{
        position: relative;
        margin: 0 10%;
        max-height: 1200px;
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 3%;
        justify-items: center;
        align-items: center;
}

.member {
    max-width: 100%;
    grid-column: span 2;
    z-index: 1;
    border-radius: 50%;
    transform: scale(1);
    transition: all .25s;
    cursor: pointer;
}

.member img {
    border-radius: 50%;
}

.team-rhombus .member:nth-child(7n + 1) {
    grid-column: 2 / span 2;
}

.team-rhombus .member:hover {
    z-index: 2;
    transform: scale(1.2);
    transition: transform 0.3s;
}  

.team-rhombus .member i {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 3;
    font-size: 34px;
}

.team-rhombus .member:hover i {
    display: block;
}
.team-rhombus .member:hover img {
    opacity: 0.5;
}

.popup-members-content {
    position: relative;
    overflow: hidden;
    padding-top: 10%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.about-social {
    width: 200px;
    display: flex;
}

.about-social a {
    background: none;
}
.about-social a:hover{color: #7d55ff;}

.workInProgress {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
#text {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
}

.team-mobile-cards {
    display: none;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav .headerLogo {
    font-size: 30px;
    color: #fff;
}

.nav .logo {
    text-decoration: none;
    margin-left: 5%;
}

.nav ul {
    display: flex;
    justify-content: end;
    list-style-type: none;
}


.nav ul li{
    padding: 10px;
    width: 25vh;
    border-bottom: 1px solid black;
    margin-right: 3px;
    text-align: center;
}

.nav ul li a{
    color: #fff;
    text-decoration: none;
}

.nav ul li a:hover{
    color: #8F6CFF;
}

.nav ul li:hover {
    border-bottom: 1px solid #8F6CFF;
}

/* end about page */

@media only screen and (max-width:800px){
    main{height: 95vh;flex-direction: column;}
    main .left{width: 100%;align-items: center;padding:0;padding-top: 6vh;}
    main .right{width: 100%;position: relative;}
    main .right img{width: 84vw;height: unset; right: 0;left: unset;}
    main .left a img {margin-top: 10px;margin-bottom: 10px;width: 120px;}
    .logoText{font-size: 55px;}main .left h2{font-size: 25px;}main p{font-size: 13.4px;}
    .scrolling-text .scrolling-text-content{font-size: 30px;}
    .purpMarq{-webkit-text-stroke: 1.5px #8F6CFF;}
    .blueMarq{-webkit-text-stroke: 1.5px #089BD4;}
    .container {height: 50px !important;}
    .meta{height: 28vh;margin: 5vh 3%;}
    .vrContent h1{font-size: 20px;top: 10px;left: -10px;-webkit-text-stroke: 0.7px #ffffff;}
    .vrContent p{font-size: 16px;width: 70vw;bottom: 20px;right: 15px;}
    .hifi{width: 92vw; margin: 10vh 4vw;height: 50vh;}.hfContent{width: 92vw;height: 50vh;}
    .hifi h1 {font-size: 36px;}.hifi h2{font-size: 18px;} .hifi p{width: 88vw;font-size: 15px;line-height: 140%;}
    .gitMusic{margin: 20vh 0;} .gitMusic h5 {width: 90vw;font-size: 14px;}
    .row svg{display: none;}.row a svg{display: inline-block;}
    .moreFeature{display: none;}
    .timeline {height: 30vh;display: flex;justify-content: center;align-items: center;margin-bottom: 20vh;width: 100vw;}
    .timeline img{width: 100vw;}
    footer{width: 88%;margin: 0;margin-top: 15vh;height: 60vh;}.ftstamp{width: 70vw;}
    footer .row{flex-direction: column;}footer .left{align-items: center; text-align: center;margin-bottom: 7vh;}
    footer .row img {width: 60px;}
    .blob{display: none;}
    .fairPlay{display: none;}
    .fanPowered{display: none;}
    .popup{display: none;}
    .faqContainer {padding: 0 0;}
    .trusted h3{text-align: center;margin-top: 5vh;}
    .trusted{width: 92vw; margin: 0vh auto 0vh auto;}
    .trusted .row{flex-wrap: wrap;justify-content: center;align-items: center;}
    .trusted .row a img{height: 6vh; margin: 0.5vh 1vw;}

    /* .offers{overflow: scroll; width: 100vw;} */
    .offer p{display: none;}
    .offers .row{flex-wrap: wrap;width: 100vw;align-items: stretch;}
    .offer{width: 40%;margin: 8px;padding: 8px;border-radius: 16px;height: 170px;}

    .midCta {display: inline-block;justify-content: center;margin: 3vh auto;}
    .midCta a {font-size: 18px;padding: 15px 80px;}
    .feel {margin: 20vh auto 20vh auto;}
    .parallax{height: 30vh;}
    .faqContainer {margin: 0 10px;}

}


    



@media only screen and (max-width:800px) {
    .team-rhombus {
        display: none;
    }
    .team-mobile-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;
    }
    .team-mobile-cards h3, .team-mobile-cards h4 {
        text-align: center;
    }
    .mobile-member {
        margin-bottom: 5%;
    }
    .about-social a {
        background: none;
        font-size: 25px;
        color: white;
        margin: auto;
    }

    #text {
        font-size: 30px;
    }
}

@media only screen and (min-width:480px) and (max-width: 1024px) {
    .team-rhombus {
        margin: 0;
    }
}
